.navbar {
	background-color: #009688;
}
.navbar-nav>li>a {
	color: #fff !important;
}
.navbar-nav>li>a:hover {
	color: #555 !important;
}
.navbar-nav>.active>a {
	background-color: #00796B !important;
}
.navbar-nav>.active>a:hover {
	color: #fff !important;
}
.navbar-brand {
	color: #fff !important;
}
.navbar-brand img {
	float: left;
	padding-right: 10px;
}